@model IEnumerable<GlenwoodMed.Data.Tables.Consultation>
<style>
    .x {
        color: Blue;
        font: bold;
    }

    .wid {
        width: 50%;
    }

    .table-bordered {
        border: thick, solid;
        align-content:center;
        align-items:center;
        align-self:center;
    }
    table {
        border: thick,thin;
        color: blue;
        background-color: lightgrey;
    }
    td{
        color:black;
    }
</style>
@{
    ViewBag.Title = "consultation";
}
                      <h2 class="y">Search for</h2>

                      <form>
                          <table class="table">
                              <tr>
                                  <td><input type="radio" name="searchfor" value="Patient" onclick="location.href='@Url.Action("Patient", "Search")';return false;" /><text>Patient</text></td>
                                  <td></td>
                                  <td><input type="radio" name="searchfor" value="Drugs" onclick="location.href='@Url.Action("Drugs", "Search")';return false;" /><text>Drugs</text></td>
                                  <td></td>
                                  <td><input type="radio" name="searchfor" value="TestResult" onclick="location.href='@Url.Action("TestResult", "Search")';return false;" /><text>Test Result</text></td>
                                  <td></td>
                                  @*<td><input type="radio" name="searchfor" value="Consultation" onclick="location.href='@Url.Action("consultation", "Search")';return false;" /><text>Consultation</text></td>*@


                              </tr>
                          </table>
                      </form><br /><br />

<h2 class="x">Consultation</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm("consultation","Search",FormMethod.Get))
{
    <h3 class="wid">@Html.TextBox("illnesspar")<br /></h3>
    
    <input type="submit" name="searchillness" value="Search" size="50" />
}
<br/><br/><br/>
                      <table class="table table-striped table-bordered table-hover table-responsive">
                          <tr class="success">
                              
                              <th>
                                  @Html.DisplayNameFor(model => model.illness)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.Symptoms)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.PresribedMed)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.ConsultTime)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.ConsultDate)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.TotalPrice)
                              </th>
                              <th></th>
                          </tr>

                          @foreach (var item in Model)
                          {
                              <tr>
                                 
                                  <td>
                                      @Html.DisplayFor(modelItem => item.illness)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Symptoms)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.PresribedMed)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.ConsultTime)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.ConsultDate)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.TotalPrice)
                                  </td>
                                  @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ConsultId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ConsultId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ConsultId })
                    </td>*@
                              </tr>
                          }

                      </table>
