@model GlenwoodMed.Model.ViewModels.FeedBackViewModel

@{
    ViewBag.Title = "CreateFeedBack";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>
    .x {
        color: Blue;
        font: bold;
    }

    .I{
        width:20px;
        height:20px;
    }
</style>

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.rateit.js"></script>
<script src="~/Scripts/jquery.rateit.min.js"></script>
<link href="~/Content/rateit.css" rel="stylesheet" />
<link href="~/Content/ButtonColors.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="x"><a href="@Url.Action("Index", "PatientView")">Home</a></li>
    <li class="active">Create Feedback</li>
</ol>

<div align="center">
    <h2 class="x">FeedBack</h2>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Choose Rating", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="td0">Please rate this clinic</div>
                <script language="javascript" type="text/javascript">
                    $(function () {
                        $("img").mouseover(function () {
                            giveRating($(this), "yellowstar.gif");
                            $(this).css("cursor", "pointer");
                        });

                        $("img").mouseout(function () {
                            giveRating($(this), "whitestar.gif");
                        });

                        $("img").click(function () {
                            $("img").unbind("mouseout mouseover click");

                            // call ajax methods to update database
                            var url = "/FeedBack/PostRating?rating=" + parseInt($(this).attr("id"));
                            $.post(url, null, function (data) {
                                $("#result").text(data);
                            });
                        });
                    });

                    function giveRating(img, image) {
                        img.attr("src", "/Images/" + image)
                           .prevAll("img").attr("src", "/Images/" + image);
                    }
                </script>
                <p>
                    <img src="~/Images/whitestar.gif" style="width:30px; height:30px" alt="Star Rating" align="middle" id="1" />
                    <img src="~/Images/whitestar.gif" style="width:30px; height:30px" alt="Star Rating" align="middle" id="2" />
                    <img src="~/Images/whitestar.gif" style="width:30px; height:30px" alt="Star Rating" align="middle" id="3" />
                    <img src="~/Images/whitestar.gif" style="width:30px; height:30px" alt="Star Rating" align="middle" id="4" />
                    <img src="~/Images/whitestar.gif" style="width:30px; height:30px" alt="Star Rating" align="middle" id="5" />

                    @*<img src="../../Content/Images/EmptyStar.png" alt="Star Rating" align="middle" id="1" />
            <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" align="middle" id="2" />
            <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" align="middle" id="3" />
            <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" align="middle" id="4" />
            <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" align="middle" id="5" />*@
                </p>
                <div id="result"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment ,new { rows = "4", cols = "50", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit"  class="btn btn-primary" @*"btn btn-default"*@ />
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 @*<input type="submit" value="Cancel" class="btn btn-primary" />*@
    @*&nbsp;&nbsp;*@
            </div>

           
        </div>

        @*<div class="form-group">
            
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cancel" class="btn btn-primary" />&nbsp;&nbsp;
            </div>
        </div>*@

    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@



@*<select id="backing2b ">
    <option value="0">Bad</option>
    <option value="1">Ok</option>
    <option value="2">Great</option>
    <option value="3">Excellent</option>
    <option value="4">Excellent</option>
    <option value="5">Excellent</option>
</select>
<div class="rateit" data-rateit-backingfld="#backing2b"></div>*@





 @*@{
    var url = Request.Url.AbsolutePath;
}
<div class="tr" style="background-color:#f1f1f1;">
    <div class="td0">Please rate this clinic</div>

</div>
@if (!User.Identity.IsAuthenticated)
{
   
     <text>Please <a href="/MyAccount/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to rate">Login</a> to rate</text>
    return;
}
@if (Request.Cookies[url] == null)
{
    <div id="ratingDiv" class="smallText">
        Poor
      
        <img src="/Images/whitestar.gif" alt="" class="ratingStar I" data-value="1" /><img src="/Images/whitestar.gif" alt="" class="ratingStar I" data-value="2" /><img src="/Images/whitestar.gif" alt="" class="ratingStar I" data-value="3" /><img src="/Images/whitestar.gif" alt="" class="ratingStar I" data-value="4" /><img src="/Images/whitestar.gif" alt="" class="ratingStar I" data-value="5" /> Excellent
        <label id="lblResult"></label>
    </div>
    <style type="text/css">
        .ratingStar {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        var clickedFlag = false;
        $(".ratingStar").mouseover(function () {
            $(this).attr("src", "/Images/yellowstar.gif").prevAll("img.ratingStar").attr("src", "/Images/yellowstar.gif");
        });
        $(".ratingStar, #radingDiv").mouseout(function () {
            $(this).attr("src", "/Images/whitestar.gif");
        });
        $("#ratingDiv").mouseout(function () {
            if (!clickedFlag)
            {
                $(".ratingStar").attr("src", "/Images/whitestar.gif");
            }
        });
        $(".ratingStar").click(function () {
            clickedFlag = true;
            $(".ratingStar").unbind("mouseout mouseover click").css("cursor", "default");

            var url = "/Home/SendRating?r=" + $(this).attr("data-value") + "&s=5&id=@Model&url=@url";
            $.post(url, null, function (data) {
                $("#lblResult").html(data);
            });
        });
        $("#lblResult").ajaxStart(function () {
            $("#lblResult").html("Processing ....");
        });
        $("#lblResult").ajaxError(function () {
            $("#lblResult").html("<br />Error occured.");
        });
    </script>
}
else
{
    <text><span style="color:green;">Thanks for your vote !</span></text>
}*@ 