<link href="~/Content/PagedList.css" rel="stylesheet" />
@model PagedList.IPagedList<GlenwoodMed.Model.ViewModels.DrugModel>
@using PagedList.Mvc
@using PagedList;
<table class="table table-striped table-bordered table-hover table-responsive">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.First().DrugCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DrugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DrugCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DrugDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Supplier)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ExpiryDate)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugCategory)
            </td>
            <td>
                @Html.Raw(item.DrugDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <div class="btn-group" role="group">
                    @Html.ActionLink(" ", "Update", "Drugs", new { id = item.DrugId }, new { title = "Edit " + item.DrugName + " Details" + "", @class = "lnkEdit btn btn-default glyphicon glyphicon-edit edit view" })
                    @Html.ActionLink(" ", "Details", "Drugs", new { id = item.DrugId }, new { title = "View " + item.DrugName + " Details", @class = "lnkDetail btn btn-default glyphicon glyphicon-eye-open details view" })
                    @Html.ActionLink(" ", "Delete", "Drugs", new { id = item.DrugId }, new { title = "Delete " + item.DrugName + " Details", @class = "lnkDelete btn btn-default glyphicon glyphicon-remove delete view" })
                </div>
                @*@Html.ActionLink("Update", "Update", "Drugs", new { id = item.DrugId }, new { @class = "lnkEdit btn btn-info glyphicon glyphicon-edit" })
                    @Html.ActionLink("Details", "Details", "Drugs", new { id = item.DrugId }, new { @class = "lnkDetail btn btn-info glyphicon glyphicon-eye-open" })
                    @Html.ActionLink("Delete", "Delete", "Drugs", new { id = item.DrugId }, new { @class = "lnkDelete btn btn-info glyphicon glyphicon-trash" })
                    </div>*@
            </td>

        </tr>
    }

</table>

<div align="center">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { page, pagesize = Model.PageSize }))

    <b>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Patients</b>
</div>