@model IEnumerable<GlenwoodMed.Model.ViewModels.ConsultationView>

@{
    ViewBag.Title = "Print All Consultations";
    //Layout = "~/Views/Shared/_PdfLayout.cshtml";
    Layout = "";


}
<!DOCTYPE html>
<html>
<body>
    <table stlye="page-break-inside:auto;" bordercolor="RED" width="100%" height="100%" cellpadding="1.0" cellspacing="10.0">

        <thead style="display:table-header-group; display: table-header-group;">
            @*<tr stlye="page-break-inside:avoid; page-break-after:auto;">
                    <th>Test THEAD</th>
                </tr>*@

            <tr>
                <td colspan="2" rowspan="2" align="center" valign="top">
                    <img src="@Server.MapPath("~/Content/white_caduceus_red_box.png")" width="100" height="100" /> <br />
                    <div style="font-weight:bold;font-size:18;">
                        Glenwood Medical Centre
                    </div>
                    <div style="font-weight:bold;font-size:16;">
                        ( Medical Consultation List on @DateTime.Now )

                    </div>

                </td>
            </tr>
        </thead>
    </table>

    <newline />
    <paragraph leading="24.0" font="unknown" align="center">
        <h2><b>Medical Consultation List</b></h2>
        <hr />
    </paragraph>
    <newline />
    @*<div align="center">
            <h2><b>Consultations</b></h2>
            <hr/>
        </div>*@

    <div>
        <ol>
            @foreach (var item in Model)
            {
                <br />
                <li>
                    <b>@Html.DisplayFor(modelItem => item.patientfullname) </b>
                </li>

                <ul type="circle">
                    <li>
                        <b>@Html.DisplayNameFor(model => model.Notes):</b>   @Html.DisplayFor(modelItem => item.Notes)
                    </li>
                    <li>
                        <b>@Html.DisplayNameFor(model => model.ConsultTime):</b>   @Html.DisplayFor(modelItem => item.ConsultTime)
                    </li>
                    <li>
                        <b>@Html.DisplayNameFor(model => model.ConsultDate):</b>    @Html.DisplayFor(modelItem => item.ConsultDate)
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>Total Price:</b>    <b>@Html.DisplayFor(model => item.TotalPrice)</b>
                    </li>
                    <li><div align="center"><hr /></div></li>
                </ul>
            }
        </ol>

    </div>

    <newline />

    <newline />
    <paragraph leading="24.0" font="unknown" align="Default">

    </paragraph>
    <newline />
    <newline />

</body>

</html>
