@using GlenwoodMed.Data
@model IEnumerable<GlenwoodMed.Data.Tables.Consultation>

@{
    ViewBag.Title = "ViewDrugsConsultation";
    DataContext da = new DataContext();
}

<meta http-equiv="refresh" content="100">
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/PopUp.js"></script>
<link href="~/Content/ButtonColors.css" rel="stylesheet"/>
<script src="~/Scripts/TooTipScript.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        if ('@TempData["msg"]' != null) {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: false,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-editdetails").dialog({
            title: 'Edit Dependent Details',
            autoOpen: false,
            resizable: false,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-delete").dialog({
            title: 'Delete ?',
            autoOpen: false,
            resizable: false,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'Dependent Details',
            autoOpen: false,
            resizable: false,
            width: 500,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(document).on("click", "#lnkCreate", function (e) {
            //e.preventDefault(); //use this or return false
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(document).on("click", ".lnkEdit", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            //$(".ui-dialog-title").html("Edit Patient Dependent");
            $("#dialog-editdetails").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-delete").dialog('open');

            return false;
        });

        $(".lnkDetail").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        });

        $(document).on("click", "#btncancel", function (e) {
            $("#dialog-edit").dialog('close');
            return false;
        });

        $(document).on("click", "#btncanceldetails", function (e) {
            $("#dialog-editdetails").dialog("close");
            return false;
        });

        $(document).on("click", "#btncanceldelete", function (e) {
            $("#dialog-delete").dialog("close");
            return false;
        });
    });
</script>

@*@Html.ActionLink("AddMoreDrugs", "AddDrugsToConsult", "Consultations", new { id = Model._Consultation.ConsultId }, new { @class = "lnkDetail btn btn-info " })*@

<ol class="breadcrumb">
    <li class="x"><a>Consultation</a></li>
    <li class="active">Main Index</li>
</ol>
<div class="text-center">
    <h2 class="x">
        All Prescribed Drugs
    </h2>
    <hr />
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <tr class="success">
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Drug
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.patientfullname)
                    </td>
                    <td>
                        @{
                        foreach (var course in item.CustLis)
                        {
                            var finds = new DataContext();
                            var find = da.Drugs.ToList().Find(x => Convert.ToString(x.DrugId) == course.DrugId);

                                @course.DrugId
                            <br/>
                        }
                        }
                    </td>
                    <td>
                        @Html.ActionLink(" ", "AddDrugsToConsult", "Consultations", new { id = item.ConsultId }, new { @title = "Print and view Dosage", @class = "btn btn-info glyphicon glyphicon-plus view" })
                        @Html.ActionLink(" ", "DeleteDrugsConsultation", "Consultations", new { id = item.ConsultId }, new { @title = "Delete", @class = " btn btn-info glyphicon glyphicon-remove view " })
                    </td>
                </tr>
            </table>
        </div>
    }
</div>








