@model GlenwoodMedicalCentre.Models.PatientConsultationDetails

@{
    ViewBag.Title = "Print Certificate";
    //Layout = "~/Views/Shared/_PdfLayout.cshtml";
    Layout = "";


}
<!DOCTYPE html>
<html>
<body>
    <table border="0" stlye="page-break-inside:auto;" bordercolor="LigntBlue" width="100%" height="100%" cellpadding="1.0" cellspacing="10.0">

        <thead style="display:table-header-group; display: table-header-group;">
            @*<tr stlye="page-break-inside:avoid; page-break-after:auto;">
                    <th>Test THEAD</th>
                </tr>*@

            <tr>
                <td colspan="2" rowspan="2" align="center" valign="top">
                    <img src="@Server.MapPath("~/Content/white_caduceus_red_box.png")" width="100" height="100" /> <br />
                    <div style="font-weight:bold;font-size:18;">
                        Glenwood Medical Centre
                    </div>
                    <div style="font-weight:bold;font-size:16;">
                        Medical Certificate@* @DateTime.Now *@

                    </div>

                </td>
            </tr>

        </thead>
      
        <tbody style="font-size:14px">

            <tr>
                <td>
                    <hr />
                    <newline></newline>
                    <newline></newline>
                    <newline></newline>
                    <newline></newline>
                    <span style="font-family:'Yu Mincho';  font:bold; font:italic">
                        This is to certify that on <a style="font-family:Algerian">@Model.MedCert.Date</a>   @*@DateTime.Now*@ I have examined
                        <a style="font-family:Algerian; font:bold" > @Model.MedCert.PatintName</a>
                    </span>
                    <newline></newline>
                    <newline></newline>
                    <span style="font-family:'Yu Mincho';  font:bold; font:italic">
                        who according to my oppinion is
                        <a style="font-family:Algerian"> @Model.MedCert.OpinonIllness </a>
                    </span>
                    @*<newline></newline>
                    <newline></newline>*@
                </td>

            </tr>

            <tr>

                <td></td>

            </tr>


            <tr>
                <td>
                    <span style="font-family:'Yu Mincho'; font:bold; font:italic">
                        Hence , he will be /was <a style="font-family:Algerian">
                            @Model.MedCert.Fitnessproblem
                        </a>
                        from
                        <a style="font-family:Algerian"> @Model.MedCert.StartingDate </a> to <a style="font-family:Algerian">@Model.MedCert.Enddate</a>
                    </span>
                    @*<newline></newline>
                    <newline></newline>*@
                </td>
            </tr>
            <tr>

                <td></td>

            </tr>
            <tr>
                <td  bgcolor="LightBlue">
                   <span style="font-family:'Yu Mincho'; font:bold; font:italic" >Comment: <a style="font-family:Algerian">@Model.MedCert.Comment</a></span> 
                </td>

            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                   <span style="font-family:'Yu Mincho UI'; font:bold; font:italic">Doctor's name:</span>  @Model.MedCert.Doctorname
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <span style="font-family:'Yu Mincho UI';  font:bold; font:italic">Address: <a style="font-family:Algerian">@Model.MedCert.Address</a></span>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family:'Yu Mincho UI';  font:bold; font:italic">Doctor's signature:______________________ <a style="font-family:Algerian">  </a></span>
                </td>
            </tr>
           

        </tbody>


        <tfoot style="display:table-footer-group;">
            @*<tr>
                    <td>TFOOT</td>
                </tr>*@
        </tfoot>
    </table>

</body>


</html>
