@model IEnumerable<GlenwoodMed.Model.ViewModels.PatientModel>

@{
    ViewBag.Title = "Patient List";
    //Layout = "~/Views/Shared/_PdfLayout.cshtml";
    Layout = "";
    

}
<!DOCTYPE html>
<html>
<body>
    <table stlye="page-break-inside:auto;" bordercolor="RED" width="100%" height="100%" cellpadding="1.0" cellspacing="10.0">

        <thead style="display:table-header-group; display: table-header-group;">
            @*<tr stlye="page-break-inside:avoid; page-break-after:auto;">
                    <th>Test THEAD</th>
                </tr>*@

            <tr>
                <td colspan="2" rowspan="2" align="center" valign="top">
                    <img src="@Server.MapPath("~/Content/white_caduceus_red_box.png")" width="100" height="100" /> <br />
                    <div style="font-weight:bold;font-size:18;">
                        Glenwood Medical Centre
                    </div>
                    <div style="font-weight:bold;font-size:16;">
                        ( Patient List on @DateTime.Now )
                        @ViewBag.Count patients
                    </div>

                </td>
            </tr>
        </thead>
    </table>

    <newline />
    <paragraph leading="24.0" font="unknown" align="center">
        <h2><b>Patient List</b></h2>
        <hr />
    </paragraph>
    <newline />
    @*<div align="center">
            <h2><b>Consultations</b></h2>
            <hr/>
        </div>*@

    <div>
        <ol>
            @foreach (var item in Model)
            {
                <br />
                <li>
                    <b>@Html.DisplayFor(modelItem => item.Title) @Html.DisplayFor(modelItem => item.FullName) @Html.DisplayFor(modelItem => item.Surname)</b>
                </li>

                <ul type="circle">
                    <li>
                        <b>@Html.DisplayNameFor(model => model.Email):</b>   @Html.DisplayFor(modelItem => item.Email)
                    </li>
                    <li>
                        <b>@Html.DisplayNameFor(model => model.NationalId):</b>   @Html.DisplayFor(modelItem => item.NationalId)
                    </li>
                    <li>
                        <b>@Html.DisplayNameFor(model => model.DOB):</b>    @Html.DisplayFor(modelItem => item.DOB)
                    </li>
                    <li>
                        <b>@Html.DisplayNameFor(model => model.Sex):</b>   @Html.DisplayFor(modelItem => item.Sex)
                    </li>
                    <li>
                        <b>Address:</b>   @Html.DisplayFor(modelItem => item.Address1) <br />
                                                                                @Html.DisplayFor(modelItem => item.Address2) <br />
                                                                                @Html.DisplayFor(modelItem => item.Address3)
                    </li>
                    <li style="margin-bottom: 10px;">
                        <b>@Html.DisplayNameFor(model => model.Telephone):</b>   @Html.DisplayFor(modelItem => item.Telephone)
                    </li>
                    <li><div align="center"><hr /></div></li>
                </ul>
            }
        </ol>

    </div>

    <newline />

    <newline />
    <paragraph leading="24.0" font="unknown" align="Default">

    </paragraph>
    <newline />
    <newline />

</body>

</html>
